.mat-card-class{
    border: black solid 1px;
    margin: 20px;
}

.mat-card-title-class{
   font-weight: bold;
}

.username-on-cards{
    font-weight: bold;
    font-size: large;
}

.tabs{
    text-align: center;
    margin: 20px;
}

.adding-new-posts{
    margin: 20px;
}