<mat-tab-group mat-align-tabs="start">
    <mat-tab label="User Posts">
        <div *ngFor="let upost of userPosts">
            <mat-card class="mat-card-class"> 
                <mat-card-title class="mat-card-title-class">{{upost.title}}</mat-card-title>
                <mat-card-content>
                    <p>
                        {{upost.body}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Other Posts"> 
        <div *ngFor="let opost of otherPosts">
        <mat-card class="mat-card-class">
            <mat-card-title class="username-on-cards">{{allUserInfo[opost.userId-1].name}}</mat-card-title>
            <mat-card-subtitle class="mat-card-title-class">{{opost.body}}</mat-card-subtitle>
            <mat-card-content>
                <p>
                    {{opost.title}}
                </p>
            </mat-card-content>
        </mat-card> 
        </div>
    </mat-tab>
</mat-tab-group>
